@keyframes color-change {
    0% {
        color:#ff0000;
    }

    50% {
        color:#0000ff;
    }

    100% {
        color:#ff0000;
    }
}


body {
    font-family: Arial,  sans-serif; /* Rodzina czcionek */
    font-size: 16px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #f0f0f0; /* Kolor tła strony internetowej */
    color: #333333; /* Kolor tła strony internetowej*/ 
}
h1 {
    color: #00a800; /* Kolor nagłówka */
    font-size: 30px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
    transition: 2s;
}
h1:hover {
    animation: color-change 3s infinite;
    font-size: 50px;
    transition: 2s;
}
h2 {
    animation: color-change 3s infinite;
}
ul {
    border: #00a800 dotted 4px;
    text-decoration: underline;
    text-decoration-color: #00a800;
}
img {
    display: block;
    margin-left: auto;
}